<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.registration.mapper.RegistrationMapper">

    <resultMap id="BaseResultMap" type="com.hospital.registration.entity.Registration">
            <id property="id" column="id" />
            <result property="registrationNo" column="registration_no" />
            <result property="patientId" column="patient_id" />
            <result property="doctorId" column="doctor_id" />
            <result property="departmentId" column="department_id" />
            <result property="scheduleId" column="schedule_id" />
            <result property="registrationDate" column="registration_date" />
            <result property="timeSlot" column="time_slot" />
            <result property="queueNumber" column="queue_number" />
            <result property="registrationFee" column="registration_fee" />
            <result property="status" column="status" />
            <result property="symptom" column="symptom" />
            <result property="paymentStatus" column="payment_status" />
            <result property="paymentTime" column="payment_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,registration_no,patient_id,doctor_id,department_id,schedule_id,
        registration_date,time_slot,queue_number,registration_fee,status,
        symptom,payment_status,payment_time,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from registration
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from registration
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hospital.registration.entity.Registration" useGeneratedKeys="true">
        insert into registration
        ( id,registration_no,patient_id,doctor_id,department_id,schedule_id,
        registration_date,time_slot,queue_number,registration_fee,status,
        symptom,payment_status,payment_time,create_time,update_time)
        values (#{id},#{registrationNo},#{patientId},#{doctorId},#{departmentId},#{scheduleId},
        #{registrationDate},#{timeSlot},#{queueNumber},#{registrationFee},#{status},
        #{symptom},#{paymentStatus},#{paymentTime},#{createTime},#{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hospital.registration.entity.Registration" useGeneratedKeys="true">
        insert into registration
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="registrationNo != null">registration_no,</if>
                <if test="patientId != null">patient_id,</if>
                <if test="doctorId != null">doctor_id,</if>
                <if test="departmentId != null">department_id,</if>
                <if test="scheduleId != null">schedule_id,</if>
                <if test="registrationDate != null">registration_date,</if>
                <if test="timeSlot != null">time_slot,</if>
                <if test="queueNumber != null">queue_number,</if>
                <if test="registrationFee != null">registration_fee,</if>
                <if test="status != null">status,</if>
                <if test="symptom != null">symptom,</if>
                <if test="paymentStatus != null">payment_status,</if>
                <if test="paymentTime != null">payment_time,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="registrationNo != null">#{registrationNo},</if>
                <if test="patientId != null">#{patientId},</if>
                <if test="doctorId != null">#{doctorId},</if>
                <if test="departmentId != null">#{departmentId},</if>
                <if test="scheduleId != null">#{scheduleId},</if>
                <if test="registrationDate != null">#{registrationDate},</if>
                <if test="timeSlot != null">#{timeSlot},</if>
                <if test="queueNumber != null">#{queueNumber},</if>
                <if test="registrationFee != null">#{registrationFee},</if>
                <if test="status != null">#{status},</if>
                <if test="symptom != null">#{symptom},</if>
                <if test="paymentStatus != null">#{paymentStatus},</if>
                <if test="paymentTime != null">#{paymentTime},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hospital.registration.entity.Registration">
        update registration
        <set>
                <if test="registrationNo != null">
                    registration_no = #{registrationNo},
                </if>
                <if test="patientId != null">
                    patient_id = #{patientId},
                </if>
                <if test="doctorId != null">
                    doctor_id = #{doctorId},
                </if>
                <if test="departmentId != null">
                    department_id = #{departmentId},
                </if>
                <if test="scheduleId != null">
                    schedule_id = #{scheduleId},
                </if>
                <if test="registrationDate != null">
                    registration_date = #{registrationDate},
                </if>
                <if test="timeSlot != null">
                    time_slot = #{timeSlot},
                </if>
                <if test="queueNumber != null">
                    queue_number = #{queueNumber},
                </if>
                <if test="registrationFee != null">
                    registration_fee = #{registrationFee},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="symptom != null">
                    symptom = #{symptom},
                </if>
                <if test="paymentStatus != null">
                    payment_status = #{paymentStatus},
                </if>
                <if test="paymentTime != null">
                    payment_time = #{paymentTime},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hospital.registration.entity.Registration">
        update registration
        set 
            registration_no =  #{registrationNo},
            patient_id =  #{patientId},
            doctor_id =  #{doctorId},
            department_id =  #{departmentId},
            schedule_id =  #{scheduleId},
            registration_date =  #{registrationDate},
            time_slot =  #{timeSlot},
            queue_number =  #{queueNumber},
            registration_fee =  #{registrationFee},
            status =  #{status},
            symptom =  #{symptom},
            payment_status =  #{paymentStatus},
            payment_time =  #{paymentTime},
            create_time =  #{createTime},
            update_time =  #{updateTime}
        where   id = #{id} 
    </update>
</mapper>
