<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.registration.mapper.ScheduleMapper">

    <resultMap id="BaseResultMap" type="com.hospital.registration.entity.Schedule">
            <id property="id" column="id" />
            <result property="doctorId" column="doctor_id" />
            <result property="departmentId" column="department_id" />
            <result property="scheduleDate" column="schedule_date" />
            <result property="timeSlot" column="time_slot" />
            <result property="totalNumber" column="total_number" />
            <result property="remainingNumber" column="remaining_number" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,doctor_id,department_id,schedule_date,time_slot,total_number,
        remaining_number,status,create_time,update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from schedule
        where  id = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from schedule
        where  id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.hospital.registration.entity.Schedule" useGeneratedKeys="true">
        insert into schedule
        ( id,doctor_id,department_id,schedule_date,time_slot,total_number,
        remaining_number,status,create_time,update_time)
        values (#{id},#{doctorId},#{departmentId},#{scheduleDate},#{timeSlot},#{totalNumber},
        #{remainingNumber},#{status},#{createTime},#{updateTime})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.hospital.registration.entity.Schedule" useGeneratedKeys="true">
        insert into schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="doctorId != null">doctor_id,</if>
                <if test="departmentId != null">department_id,</if>
                <if test="scheduleDate != null">schedule_date,</if>
                <if test="timeSlot != null">time_slot,</if>
                <if test="totalNumber != null">total_number,</if>
                <if test="remainingNumber != null">remaining_number,</if>
                <if test="status != null">status,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="doctorId != null">#{doctorId},</if>
                <if test="departmentId != null">#{departmentId},</if>
                <if test="scheduleDate != null">#{scheduleDate},</if>
                <if test="timeSlot != null">#{timeSlot},</if>
                <if test="totalNumber != null">#{totalNumber},</if>
                <if test="remainingNumber != null">#{remainingNumber},</if>
                <if test="status != null">#{status},</if>
                <if test="createTime != null">#{createTime},</if>
                <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hospital.registration.entity.Schedule">
        update schedule
        <set>
                <if test="doctorId != null">
                    doctor_id = #{doctorId},
                </if>
                <if test="departmentId != null">
                    department_id = #{departmentId},
                </if>
                <if test="scheduleDate != null">
                    schedule_date = #{scheduleDate},
                </if>
                <if test="timeSlot != null">
                    time_slot = #{timeSlot},
                </if>
                <if test="totalNumber != null">
                    total_number = #{totalNumber},
                </if>
                <if test="remainingNumber != null">
                    remaining_number = #{remainingNumber},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime},
                </if>
        </set>
        where   id = #{id}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hospital.registration.entity.Schedule">
        update schedule
        set
            doctor_id =  #{doctorId},
            department_id =  #{departmentId},
            schedule_date =  #{scheduleDate},
            time_slot =  #{timeSlot},
            total_number =  #{totalNumber},
            remaining_number =  #{remainingNumber},
            status =  #{status},
            create_time =  #{createTime},
            update_time =  #{updateTime}
        where   id = #{id}
    </update>
</mapper>
